.btn btn-primary {
    border-radius: 23px;
}
body{
    background-color:#F5F5F5;
}
.textColor1{
    color:black;
}
table tr td:last-child {
    white-space: nowrap;
    width: 1px;
    text-align: right;
}